$color-primary: #006bbd;
$color-secondary: #f45800;
$color-text-heading-primary: #000000;
$color-text-body-primary: #4c4c4c;
$color-offwhite: #ede8e4;
$color-offwhite-background: #f8f6f5;

$color-button-primary: radial-gradient(circle, rgba(255, 165, 2, 1) 0%, rgba(245, 145, 29, 1) 100%);
$color-button-primary-hover: #343e7d;
