#header-fullpage {
    position: absolute;
    z-index: 1;
    overflow-x: hidden;
    background-position: bottom;
    background-size: cover;

    min-height: 110vh;

    @media only screen and (max-device-width: 960px) and (orientation: landscape) {
        min-height: 150vh;
    }

    .socrates {
        position: absolute;
        width: 40vw;
        top: 55px;
        right: 55px;

        @include media-breakpoint-down(md) {
            width: 80vw;
            right: -200px;
        }

        @include media-breakpoint-down(sm) {
            width: 100vw;
            right: -150px;
        }

        @media only screen and (max-device-width: 960px) and (orientation: landscape) {
            width: 100vh;
            right: -50px;
        }
    }
}
