.author {
    background-color: white;
    border-radius: $border-radius-medium;
    box-shadow: $box-shadow-small;

    .author-profile {
        img {
            width: 10rem;
            height: 10rem;
            object-fit: cover;
            clip-path: circle();
        }
    }

    .author-button {
        border-color: $color-offwhite;

        .button-secondary {
            background-color: $color-offwhite;
            border: none;
            color: $color-text-heading-primary;

            &:hover {
                background: darken($color: $color-offwhite, $amount: 10);
            }
        }
    }
}
